<div id="<%= dom_id employee %>">
  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <%= employee.first_name %>
      </th>
      <td class="py-4 px-6">
          <%= employee.last_name %>
      </td>
      <td class="py-4 px-6">
          <%= employee.email %>
      </td>
      <td class="py-4 px-6">
          <%= employee.phone_number %>
      </td>
      <td class="py-4 px-6">
        <% if action_name != "show" %>
          <%= link_to "Show", employee, class: "bg-blue-600 text-white rounded-lg py-3 px-5 inline-block font-medium" %>
          <%= link_to 'Edit', edit_employee_path(employee), "data-controller": "turbo", class: "bg-gray-600 rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
        <% end %>
      </td>
  </tr>
</div>
