<% if action_name != "show" %>
  <div id="<%= dom_id employee %>">
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%= employee.first_name %>
        </th>
        <td class="py-4 px-6">
            <%= employee.last_name %>
        </td>
        <td class="py-4 px-6">
            <%= employee.email %>
        </td>
        <td class="py-4 px-6">
            <%= employee.phone_number %>
        </td>
        <td class="py-4 px-6">
          <%= link_to "Show", employee, class: "bg-blue-600 text-white rounded-lg py-3 px-5 inline-block font-medium" %>
          <%= link_to 'Edit', edit_employee_path(employee), "data-controller": "turbo", class: "bg-gray-600 rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
        </td>
    </tr>
  </div>
<% else %>
  <div>
    <h2>Name: <%= employee.first_name %> <%= employee.last_name %></h2>
    <h2>Email: <%= employee.email %></h2>
    <h2>Nickname: <%= employee.nickname %></h2>
    <h2>Phone Number: <%= employee.phone_number %></h2>
    <h2><b>Employment details:</b></h2>
    <h3>Employer: <%= employee.employments.last.employer %></h3>
    <h3>Start date: <%= employee.employments.last.date_started %></h3>
    <h3>End date: <%= employee.employments.last.date_employment_ended %></h3>
  </div>
<% end %>
