<%= form_with(model: employee, class: "contents") do |form| %>
  <div data-action="turbo:submit-end->modal#submitEnd" />
  <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Personal Information</h3>

  <div class="my-5">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", :required => true %>
    <% if employee.errors[:first_name].any? %>
      <ul>
        <% employee.errors[:first_name].each do |message| %>
          <li class="text-red-500">First name <%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>


  <div class="my-5">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", :required => true %>
    <% if employee.errors[:last_name].any? %>
      <ul>
        <% employee.errors[:last_name].each do |message| %>
          <li class="text-red-500">Last name <%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  
  <div class="my-5 mr-2">
    <%= form.label :email %>
    <%= form.text_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", :required => true %>
    <% if employee.errors[:email].any? %>
      <ul>
        <% employee.errors[:email].each do |message| %>
          <li class="text-red-500">Email <%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", :required => true %>
    <% if employee.errors[:phone_number].any? %>
      <ul>
        <% employee.errors[:phone_number].each do |message| %>
          <li class="text-red-500">Phone number <%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="flex">
    <div class="inline">
      <%= link_to "Cancel", root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>

    <div class="inline">
      <%= form.submit  "Save", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  </div>
<% end %>
